body{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.grid div:nth-child(even) {
    background-color: #8ae0fe;
}

.title{
    grid-area: title;
    display: grid;
    grid-template-columns: 20% 60% 20%; 
    grid-template-areas: 
    "logo slogan logo2";
}

.logo{
    grid-area: logo;
}

.logo2{
    grid-area: logo2;
}

.slogan{
    grid-area: slogan;
    margin: auto 0;
    font-size: 2em;
    font-weight: bold;
}

.logo img,
.logo2 img,
.logo3 img,
.logo4 img,
.logo5 img,
.logo6 img, 
.logo7 img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas: 
    "title"
    "text1"
    "video"
    "text2"
    "awards"
    "grroup"
    "collage";
    grid-gap: 2em;
}

@media screen and (min-width: 736px){    
    img {
        width: 30%;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 80% 1fr; 
        grid-template-areas: 
        ". title ."
        ". text1 ."
        ". video ."
        ". text2 ."
        ". awards ."
        ". group ."
        ". collage .";
    }
}

.text1{
    grid-area: text1;
    padding: 2em;
}

.text2{
    grid-area: text2;
    padding: 2em;
}

.video{
    grid-area: video;
}

.collage{    
    grid-area: collage;
}

.bild {
    width: 100%;
}

.awards{
    grid-area: awards;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "award"
    "logos"; 
}

.group{
    grid-area: group;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "team"
    "names"; 
}

.team{
    grid-area: team;
}

.names{
    grid-area: names;
}

.logos{
    grid-area: logos;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-areas: 
    "logo3 logo4 logo5 logo6 logo7";
}

.logo3{
    grid-area: logo3;
}

.logo4{
    grid-area: logo4;
}

.logo5{
    grid-area: logo5;
}

.logo6{
    grid-area: logo6;
}

.logo7{
    grid-area: logo7;
}

.button {
    background-color: #f3f6ff;
    padding: 15px 32px;
    margin-bottom: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color: #ffffff;
}

.group img {
    width: 100%;
}

a {
    color: black;
}