body{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.grid div:nth-child(even) {
    background-color: #8ae0fe;
}

.title{
    grid-area: title;
}

img {
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas: 
    "title"
    "text1"
    "bild1"
    "video"
    "bild2"
    "text2"
    "bild3"
    "footer";
    grid-gap: 2em;
}

@media screen and (min-width: 736px){    
    img {
        width: 30%;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 80% 1fr; 
        grid-template-areas: 
        ". title ."
        ". text1 ."
        ". bild1 ."
        ". video ."
        ". bild2 ."
        ". text2 ."
        ". bild3 ."
        ". footer .";
    }
}

.text1{
    grid-area: text1;
    padding: 2em;
}

.text2{
    grid-area: text2;
    padding: 2em;
}

.bild1{
    grid-area: bild1;
}

.video{
    grid-area: video;
}

.bild2{
    grid-area: bild2;
}

.bild3{
    grid-area: bild3;
}

.demo-bild{
    width: 100%;
}

.footer{
    grid-area: footer;
}

.button {
    background-color: #f3f6ff;
    padding: 15px 32px;
    margin-bottom: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color: #ffffff;
}

a {
    color: black;
}